.landing {
  scroll-behavior: smooth;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 2rem;

  opacity: 0;

  animation: fadeIn 0.3s ease-out forwards;

  @media (prefers-reduced-motion: reduce) {
    opacity: 1;
    animation: none;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
